<ion-header>

    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="no-scroll">
    <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Usuario</ion-label>
                <ion-input type="text" name="usuario" ngModel required #usuario="ngModel" [class.invalid]="usuario.errors && usuario.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="usuario.errors?.required && usuario.dirty">
                Usuario requerido
            </ion-item>

            <ion-item>
                <ion-label floating>Contraseña</ion-label>
                <ion-input type="{{type}}" name="contrasena" ngModel required #contrasena="ngModel" [class.invalid]="contrasena.errors && contrasena.dirty"></ion-input>

                <button ion-button clear color="dark" icon-only type="button" item-right (click)="showPassword()"> <ion-icon name="{{icon}}"></ion-icon></button>
               
            </ion-item>
            <ion-item class="error-message" *ngIf="contrasena.errors?.required && contrasena.dirty">
                Contraseña requerida
            </ion-item>

            <div padding>
                <button ion-button color="primary" block type="submit" [disabled]="!form.valid">Autenticar</button>
            </div>
        </ion-list>
    </form>
</ion-content>